<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./styles.css" />
    </head>
    <body>
        <main class="main">
            <header class="main__header">GoodbyeRKN | Настройки</header>

            <div class="settings">
                <div class="settings__block">
                    <h1>
                        Настройки списков
                    </h1>
                    <div class="settings__block__item" id="settings-openBlackList">
                        <h2>
                            Список сайтов на которых происходит обработка пакетов
                        </h2>
                        <h3>
                            Вы можете вручную отредактировать список сайтов в текстом документе нажав сюда
                        </h3>
                    </div>
                </div>

                <div class="settings__block">
                    <h1>
                        Настройки обработки пакетов
                    </h1>
                    <div class="settings__block__item" id="settings-configs">
                        <h2>
                            Настройки и конфиги GoodbyeDPI
                        </h2>
                        <h3>
                            Настройте обход пакетов под себя
                        </h3>
                        <span><img src="../../images/icons/arrow.svg" /></span>
                    </div>
                    <div class="settings__block__item" id="settings-configs">
                        <h2>
                            Открыть папку с дистрибутивом GoodbyeDPI
                        </h2>
                        <h3>
                            В случае надобности можете заменить версию на более актуальную
                        </h3>
                    </div>
                </div>

                <div class="settings__block">
                    <h1>
                        Настройки приложения
                    </h1>
                    <div class="settings__block__item" id="settings-autostart">
                        <h2>
                            Запускать вместе с системой
                        </h2>
                        <h3>
                            Приложение будет запускаться и сразу сворачиваться в трей
                        </h3>
                        <span id="settings-autostart-toggle"><span class="item__toggle_off">ВЫКЛ</span></span>
                    </div>

                    <div class="settings__block__item" id="settings-autorun">
                        <h2>
                            Автоматически запускать обход пакетов
                        </h2>
                        <h3>
                            При открытии приложения обход пакетов автоматически активируется
                        </h3>
                        <span id="settings-autorun-toggle"><span class="item__toggle_off">ВЫКЛ</span></span>
                    </div>

                    <div class="settings__block__item">
                        <h2>
                            Проверить наличие обновлений
                        </h2>
                        <h3>
                            Проверяет наличие обновлений как приложения так и актуальных сборок GoodByeDPI
                        </h3>
                    </div>

                    <div class="settings__block__item" id="settings-reset">
                        <h2>
                            Настроить приложение заново
                        </h2>
                        <h3>
                            Открывает окно первоначальной настройки
                        </h3>
                    </div>
                </div>
            </div>
        </main>

        <script src="./logic.js"></script>
    </body>
</html>
