<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./styles.css" />
    </head>
    <body>
        <!-- <button id="myButton">Запустить GoodByeDPI</button>
        <button id="myButton2">Завершить</button> -->

        <main class="main" id="main_01" style="display: none">
            <header class="main__header">
                GoodbyeRKN | Первоначальная настройка
            </header>

            <div class="main__control">
                <h1>Добро пожаловать в GoodbyeRKN</h1>
                <p>
                    Добро пожаловать в GoodbyeRKN — удобный лаунчер для работы с
                    GoodbyeDPI!
                </p>
                <p>
                    С этим приложением вы сможете воспользоваться всеми
                    возможностями GoodbyeDPI без необходимости редактировать
                    сложные bat-файлы или настраивать вручную. Все доступно в
                    удобном и понятном интерфейсе.
                </p>
                <p>
                    Кроме того, GoodbyeRKN предлагает множество полезных
                    функций, таких как работа в фоновом режиме, автозапуск при
                    включении ПК и многое другое для вашего удобства.
                </p>
            </div>

            <footer class="footer">
                <nav class="navigation">
                    <button id="m01_b1">Исходный код GoodbyeRKN</button>
                    <button id="m01_b2">Исходный код GoodbyeDPI</button>
                    <button id="m01_b3">Начать настройку</button>
                </nav>
            </footer>
        </main>

        <main class="main" id="main_02" style="display: none">
            <header class="main__header">
                GoodbyeRKN | Первоначальная настройка
            </header>

            <div class="main__control">
                <h1>
                    Перед началом работы убедитесь что ваш браузер настроен
                    корректно
                </h1>
                <p>
                    Для правильной работы подмены пакетов DPI необходимо
                    настроить несколько параметров в вашем браузере.
                </p>
                <p>
                    1. Нажмите на тот браузер который вы используете Chrome либо
                    Firefox (Если используете другой браузер, нажмите на chrome)
                </p>
                <p>2. Настройте два параметра как на картинке снизу</p>
                <img src="../../images/setup_guide.png" width="70%" />
            </div>

            <footer class="footer">
                <nav class="navigation">
                    <button id="m02_b1">Назад</button>
                    <button id="m02_b2">Я все сделал!</button>
                </nav>
            </footer>
        </main>

        <main class="main" id="main_03" style="display: none">
            <header class="main__header">
                GoodbyeRKN | Первоначальная настройка
            </header>

            <div class="main__control_center">
                <h1>Почти готово! Сейчас GoodbyeRKN заработает!</h1>
                <p id="m03_text"></p>
                <p style="color: #FFA600; margin-top: 10px;">
                    Не забудьте выбрать конфиг в настройках, программа без
                    конфига работать не будет!
                </p>
            </div>

            <footer class="footer">
                <nav class="navigation">
                    <button id="m03_b1">Поехали!</button>
                </nav>
            </footer>
        </main>

        <script src="./logic.js"></script>
    </body>
</html>
