<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./styles.css" />
    </head>
    <body>
        <!-- <button id="myButton">Запустить GoodByeDPI</button>
        <button id="myButton2">Завершить</button> -->

        <main class="main main_off">
            <header class="main__header">GoodbyeRKN</header>

            <div class="main__control" id="powerBtn">
                <h1>Выключено</h1>
                <div class="control__power"></div>
                <h2>Пакеты не обрабатываются</h2>
            </div>

            <!-- <footer class="footer">
                <nav class="navigation">
                    <div class="navigation__active">
                        <img src="../../images/icons/power.svg" />
                    </div>
                    <div class="navigation__deactive" id="settings">
                        <img src="../../images/icons/settings.svg" />
                    </div>
                    <div class="navigation__deactive">
                        <img src="../../images/icons/info.svg" />
                    </div>
                </nav>
            </footer> -->
        </main>

        <script src="./logic.js"></script>
    </body>
</html>
