@import url('../global/styles.css');

.main {
    width: 100vw;
    height: 100vh;

    transition: all 400ms ease-in-out;
}

.main_on {
    background: linear-gradient(
        0deg,
        rgba(0, 175, 2, 0) 0%,
        rgba(0, 175, 2, 0.5) 100%
    );
}

.main_off {
    background: linear-gradient(
        0deg,
        rgba(175, 0, 0, 0) 25%,
        rgba(175, 0, 0, 0.5) 100%
    );
}

.main__header {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-weight: 500;
}

.main__control {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 80%;
    cursor: pointer;
}

.main__control > h1 {
    font-size: 48px;
}

.main__control > h2 {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.control__power {
    width: 34px;
    height: 34px;
    background-image: url(../../images/power.svg);
    background-size: cover;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
}

.navigation {
    display: flex;
    gap: 10px;
}

.navigation__active {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 7px;
    border-radius: 60px;
    width: 52px;
    height: 52px;
}

.navigation__deactive {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 7px;
    border-radius: 60px;
    width: 52px;
    height: 52px;
    background: #1f1f1f;

    cursor: pointer;
}

.navigation__deactive > img, .navigation__active > img {
    width: 22px;
    height: 22px;
}

.navigation__deactive:hover {
    background: #1A1A1A;
}