<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./styles.css" />
    </head>
    <body>
        <main class="main">
            <h1>Произошла ошибка в работе приложения</h1>
            <span>Обратитесь к логом ошибки к разработчику для исправления</span>
            <textarea readonly id="error-log"></textarea>
        </main>

        <script src="./logic.js"></script>
    </body>
</html>
